<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headfragment :: headfrag"></head>
<header th:replace="navfragment :: navbar"></header>

<body>

    <div class="subtaskcontainer">

          <form name="addsubtask" action="/addsubtask" method ="POST" id="subtaskform">
            <input type="hidden" name="id" th:value="${id}">
            <input type="text" name="subtaskname" placeholder="Name:" required>
            <input type="number" min="0" step="0.5" name="estimatedTime" placeholder="Estimated time" required>
            <input type="submit">
          </form>
          <textarea name="subtaskdescription" form="subtaskform" placeholder="Enter your description"></textarea>
    </div>

        <h4>Current subtasks: </h4>

    <div class ="grid-container">

        <ul th:each="list : ${subtaskList}">

            <div class="grid-item">
                <ul th:text ="${list.name}"></ul>
                <br>
                Estimated Time:
                <ul th:text="${list.estimatedTime}"></ul>
                Subtask description:
                <ul th:text="${list.description}"></ul>
            </div>
        </ul>

    </div>
</body>

<footer th:replace="footerfragment :: footer"></footer>
</html>