<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headfragment :: headfrag"></head>
<header th:replace="navfragment :: navbar"></header>

<body>

    <div class="formflexcontainer">
        <h1 class="inputsiteh1">Enter the name and description for your task</h1>
        <form  name="addtask" action="/addtask" method ="POST" id="taskform">
            <input  type="hidden" name="id" th:value="${id}">
            <input maxlength="30" class="inputform" type="text" name="taskname" placeholder="Name: (Max 30 characters)" required>
            <textarea maxlength="100" class="inputform" name="taskdescription" form="taskform" placeholder="Description: (Max 100 characters)"></textarea>
            <input class="button" type="submit">
        </form>
    </div>

         <h4>Current tasks: </h4>

    <div class ="grid-container">
        <ul th:each="list : ${taskList}">
            <div class="grid-item">
                <ul th:text ="${list.name}"></ul>
                <br>
                Estimated Time:
                <ul th:text="${list.estimatedTime}"></ul>
                Task description:
                <ul th:text="${list.description}"></ul>
                <div class="buttoncontainer">
                <a class="view-button" th:href="@{/create-subtask/{id}(id=${list.taskid})}"><button>Edit</button></a>

                <div class="deletebtn">
                    <form name="deleteTask" action="/delete-task" method="post">
                        <input hidden name="id" th:value="${list.taskid}">
                        <input type="hidden" name="taskid" th:value="${id}">
                        <input type="submit" value="Delete">
                    </form>
                </div>
              </div>
            </div>
        </ul>
    </div>

</body>

<footer th:replace="footerfragment :: footer"></footer>
</html>
