<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headfragment :: headfrag"></head>
<header th:replace="navfragment :: navbar"></header>

<body>

    <div class="formflexcontainer">
        <h1 class="inputsiteh1">Enter the name and description for your task</h1>
        <form  name="addtask" action="/addtask" method ="POST" id="taskform">
            <input  type="hidden" name="id" th:value="${id}">
            <h4 class="inputsiteh4">Name:</h4>
            <input maxlength="30" class="inputform" type="text" name="taskname" placeholder="Name: (Max 30 characters)" required>
            <h4 class="inputsiteh4">Description:</h4>
            <textarea maxlength="100" class="inputform" name="taskdescription" form="taskform" placeholder="Description: (Max 100 characters)"></textarea>
            <input class="button" type="submit" value="Create Task">
        </form>
    </div>

         <h1 class="Currenth1">Current tasks: </h1>
    <div class="grid-container-display">
        <div class ="grid-container">
        <ul th:each="list : ${taskList}">
            <div class="grid-item">
                <h4 th:text ="${list.name}"></h4>
                <h4>Estimated Workdays:</h4>
                <p th:text="${list.estimatedTime}"></p>
                <h4>Task description:</h4>
                <p th:text="${list.description}"></p>
                <div class="buttoncontainer">
                <a class="view-button" th:href="@{/create-subtask/{id}(id=${list.taskid})}"><button>Add Subtask</button></a>

                <div class="deletebtn">
                    <form name="deleteTask" action="/delete-task" method="post">
                        <input hidden name="id" th:value="${list.taskid}">
                        <input type="hidden" name="projectid" th:value="${id}">
                        <input type="submit" value="Delete Task">
                    </form>
                </div>
              </div>
            </div>
        </ul>
    </div>
    </div>

</body>

<footer th:replace="footerfragment :: footer"></footer>
</html>
