<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headfragment :: headfrag"></head>
<header th:replace="navfragment :: navbar"></header>

<body>

    <div class="taskcontainer">
        <form name="addtask" action="/addtask" method ="POST" id="taskform">
            <input type="hidden" name="id" th:value="${id}">
            <input type="text" name="taskname" placeholder="Name:">
            <input type="submit">
        </form>
        <textarea name="taskdescription" form="taskform" placeholder="Enter your description"></textarea>
    </div>

         <h4>Current tasks: </h4>

    <div class ="grid-container">
        <ul th:each="list : ${taskList}">

            <div class="grid-item">
                <ul th:text ="${list.name}"></ul>
                <br>
                iD:
                <ul th:text="${list.taskid}"></ul>
                Task description:
                <ul th:text="${list.description}"></ul>
                <a th:href="@{/create-subtask/{id}(id=${list.taskid})}">Edit</a>
            </div>

        </ul>
    </div>

</body>

<footer th:replace="footerfragment :: footer"></footer>
</html>
