/* Home related styling*/
h1{
    color: mintcream;
    font-family: SansSerif;
    text-align: center;
    font-weight: bolder;
}

body{
    background-color: mintcream;
    margin-right: 5%;
    margin-left: 5%;
}

.flexcontainer{
    display: flex;
    background-color: #59869d;
    justify-content: center;
}

.flexcontainer2{
    display: flex;
    background-color: #59869d;
    flex-direction: column;
    height: 600px;
}

.form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 500px;
    margin-top: 15px;
    font-family: SansSerif;
    font-weight: bold;
}

/* Create Project related styling */

.projectcontainer{
    display: flex;
    background-color: #59869d;
    height: 600px;
    flex-direction: column;
    justify-content: space-around;
}

.projectform{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.butt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 150px;
    margin-top: 15px;
}

/* Grid related styling*/
.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 1px;
}

.grid-item {
    background-color: #59869d;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


/* Table related styling*/
.table{
    margin: auto;
    width: 50%;
}

.th{
    border: 1px solid black;
    background-color: #4CAF50;
    color: white;
}

.td{
    border: 1px solid black;
}

.tr:hover {
    background-color: #f5f5f5;
}
/* Fragment related styling*/

/* Navbar related styling */
.flexbar{
    display: flex;
    justify-content: space-between;
}

.navform{
    display: flex;
    justify-content: center;
    background-color: mintcream;
    margin: 10px;
    padding: 15px;
    border: none;
    font-size: large;
    font-weight: bold;
    font-family: "Arial Black";
    cursor: pointer;
}

/* Footer related styling*/
.footer{
    height: 100px;
    margin-top: 30px;
    background-color: #dedede;

}
.flexfooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 20px;
}