.navbutton{
    display: flex;
   padding: 15px;
    background-color: mintcream;
    border: none;
    font-weight: bolder;
    font-size: large;
    justify-content: center;
}

.ggg{
    color: red;
}