
h1{
    color: mintcream;
    font-family: SansSerif;
    text-align: center;
}
.projectcontainer{
    background-color: #59869d;
}
.projectcontainer.

.form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 500px;
    margin-top: 15px;
}
.butt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: 150px;
    margin-top: 15px;

}