<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="home.css">
    <form name="backToHome" action="/backToHome"  method="post">
    <input type="submit" value="BACK TO HOME">
        <form name="fwToTask" action="/task"  method="post">
            <input type="submit" value="Create Task">
</form>

    <title>CreateProject</title>
</head>
<body>
<div class="projectcontainer">
    <!-- id=projectform giver os vores form, som vi kan bruge til til vores textarea -->
    <form name="createproject" action="/createproject" method ="POST" id="projectform">

        <input type="text" name="projectname" placeholder=" Name:">
        <input type="submit">
    </form>
    <textarea name="projectdescription" form="projectform" placeholder="Enter your description"></textarea>
</div>

<!-- indsæt jonas kode her-->

</body>
</html>