<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" type="text/css" href="../static/css/navbar.css" th:href="@{/css/navbar.css}">
</head>
    <!-- NavBar -->
<nav th:fragment="navbar">




    <a href="/"> <img src="https://i.imgur.com/WOvpqPX.png?1" title="source: imgur.com" /> </a>


        <form name="gotoview" action="/getProjects" method="get">
            <input class="navbutton" type="submit" value="PROJECTS">
        </form>
    <div class="ggg">Hejsa</div>
        <!--
        <a href="/getProjects" ><div class="navbutton">View Projects</div></a>
    -->
</nav>




</html>