<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="home.css">
    <form name="backToHome" action="/backToHome"  method="post">
        <input type="submit" value="BACK TO HOME">
    </form>

    <style>
        .grid-container {
            display: inline-grid;
            grid-template-columns: auto auto auto;
            background-color: white;
            padding: 1px;
        }

        .grid-item {
            background-color: #59869d;
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    </style>

</head>
<body>
<div class="projectlist">
    <h1>Current Projects :</h1>
    <div class="grid-container">

        <ul th:each="list : ${projectList}">
            <div class="grid-item"> <ul>Project Name: </ul>
            <ul th:text="${list.name}"></ul>
            <br>
                iD:
                <ul th:text="${list.id}"></ul>
            <ul> Project Description: </ul>
            <ul th:text="${list.description}"></ul>
                <a th:href="@{/project/{id}(id=${list.id})}">View</a>
                <a th:href="@{/create-task/{id}(id=${list.id})}">Edit</a>
            </div>
        </ul>
    </div>
</div>


<!--
<h1>Project overview</h1>
<section class="project-wrapper">


<div class="grid-container">
    <div class="grid-item projekt">Projekt</div>

    <div class="grid-item">Ansvarlig</div>
    <div class="grid-item">Timer</div>

    <div class="grid-item task"> + Novo + </div>
    <div class="grid-item">Fred2Society task2</div>
    task3

    <div class="grid-item">123,5</div>

    <div class="grid-item subtask">Mærsk</div>
    <div class="grid-item">Dr. Jones</div>

    <div class="grid-item">3432</div>
    <div class="grid-item">kage</div>

</div>

</section>
-->


</body>
</html>
