<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="home.css">
    <form name="backToHome" action="/backToHome"  method="post">
        <input type="submit" value="BACK TO HOME">
    </form>
    <!--
    <style>
        .grid-container {
            display: inline-grid;
            grid-template-columns: auto auto auto;
            background-color: white;
            padding: 1px;
        }

        .grid-item {
            background-color: #59869d;
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    </style>
-->
</head>
<body>
<div class="projectlist">
    <h1>Current Projects :</h1>

        <ul th:each="list : ${projectList}">
            <ul>Project Name: </ul>
            <ul th:text="${list.name}"></ul>
            <br>
            <ul> Project Description: </ul>
            <ul th:text="${list.description}"></ul>
        </ul>
</div>


<!--
<h1>wtf</h1>
<section class="project-wrapper">


<div class="grid-container">
    <div class="grid-item">Projekt</div>
    <div class="grid-item">Ansvarlig</div>
    <div class="grid-item">Timer</div>
    <div class="grid-item">Novo</div>
    <div class="grid-item">Fred2Society</div>
    <div class="grid-item">123,5</div>
    <div class="grid-item">Mærsk</div>
    <div class="grid-item">Dr. Jones</div>
    <div class="grid-item">3432</div>
</div>

</section>
-->


</body>
</html>
