<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="home.css">
    <meta charset="UTF-8">
    <title>ALPHA TOOLS</title>

</head>
<body>

<form name="getProjects" action="/getProjects"  method="post">
  <input type="submit" value="VIEW EXISTING PROJECTS">
</form>

<form name="createProjects" action="/project-creator"  method="post">
  <input type="submit"  value="CREATE NEW PROJECT">
</form>

</body>
</html>