<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headfragment :: headfrag"></head>
<header th:replace="navfragment :: navbar"></header>

<body>

    <div class="formflexcontainer">

        <h1 class="inputsiteh1">Enter Name and Description for your Project</h1>

        <!-- id=projectform giver os vores form, som vi kan bruge til til vores textarea --Snak med jones om this -->

        <form name="createproject" action="/createproject" method ="POST" id="projectform">

            <input maxlength="30" class="inputform" type="text" name="projectname" placeholder=" Name: (Max 30 characters)" required>
            <textarea maxlength="100" class="inputform" name="projectdescription" form="projectform" placeholder="Description: (Max 100 characters)"></textarea>
            <input class="button" type="submit" Value="Create Project">
        </form>

    </div>
</body>

<footer th:replace="footerfragment :: footer"></footer>
</html>