<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headfragment :: headfrag"></head>
<header th:replace="navfragment :: navbar"></header>

<body>

    <div class="projectlist">
        <h1>Current Projects :</h1>

        <div class="flexcontainer3">

        <div class="grid-container">
            <ul th:each="list : ${projectList}">
                <div class="grid-item"> <ul></ul>
                    <ul th:text="${list.name}"></ul>
                    <br>
                   Est. Workdays
                    <ul th:text="${list.estimatedTime}"></ul>
                    <ul> Project Description: </ul>
                    <ul th:text="${list.description}"></ul>
                    <div class="buttoncontainer">

                        <a class="view-button" th:href="@{/project/{id}(id=${list.id})}"><button>View</button></a>
                        <a class="edit-button" th:href="@{/create-task/{id}(id=${list.id})}"><button>Edit</button></a>

                        <div class="deletebtn">
                            <form name="deleteProject" action="/delete-project" method="post">
                                <input hidden name="id" th:value="${list.id}">
                                <input type="hidden" name="projectid" th:value="${id}">
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                    </div>
                </div>
            </ul>
        </div>

    </div>
    </div>
</body>

<footer th:replace="footerfragment :: footer"></footer>
</html>
