<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headfragment :: headfrag"></head>
<header th:replace="navfragment :: navbar"></header>

<body>
    <h2>PROJEKT: <h1 th:text="${ProjectNumber}">ProjectID</h1></h2>

    <table class="table" th:each="list2 : ${taskList}">

           <thead>
                <tr class="tr">
                    <th class="th" th:text="${list2.name}"></th>
                </tr>
           </thead>

           <tbody>
               <td class="td" th:each="list : ${subtaskList}" th:if="${list2.taskid} == ${list.connectedTask}" th:text="${list.name}"></td>
           </tbody>

    </table>
</body>

<footer th:replace="footerfragment :: footer"></footer>
</html>