<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="headfragment :: headfrag"></head>
<header th:replace="navfragment :: navbar"></header>

<body>
<div class="display-project">
    <h2>PROJEKT: <h2 th:text="${ProjectName}">ProjectID</h2>
        <p>Amount of workdays:<p>
        <h3 th:text="${time}"></h3></h2>
</div>

    <table class="table" th:each="list2 : ${taskList}">

           <thead>
                <tr class="tr">
                    <th class="th" th:text="${list2.name}"></th>
                    <th class="th">Est time</th>
                </tr>
           </thead>

           <tbody th:each="list : ${subtaskList}">
               <tr>
                   <th class="td"  th:if="${list2.taskid} == ${list.connectedTask}" th:text="${list.name}"></th>
                   <td class="td"  th:if="${list2.taskid} == ${list.connectedTask}" th:text="${list.estimatedTime}"></td>
               </tr>

           </tbody>

    </table>
</body>

<footer th:replace="footerfragment :: footer"></footer>
</html>